
html{
height: 100%;
margin:0;
}
body{
    background-color: #353353;
    color: #fff;
    background-image: url(../images/elizabeth.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: rotatex(180deg);
    
}

.home{
flex: 0 0 60%;
text-align: center;
align-self: center;
margin-top:10%;
}

h1{
    font-size: 60px;
    margin:0;
    padding:0;
    font-weight: bold;
}

h1 span {color: #cc9933;}

h1 span:hover{ color: tomato;}

p.tag{
    font-weight: 200;
    font-size: 20px;
}

p.motto{
    font-weight: 200;
    font-size: 25px;
    max-width: 60%;
    margin-left: 20%;
}

button{
    border: none;
    text-decoration: none;
    background: #cc9933;
    font-size: 16px;
    font-weight: 200;
    padding: 8px 35px;
    border-radius: 20px;
    color: white;
}

footer{
    flex: 0 0 60%;
    text-align: center;
    align-self: flex-end;
}